{% extends 'base.html' %}

{%block content%}
{%load cart%}

<div class="container">
  <div class="border rounded p-4 m-4">
    <!-- {{products}} -->
    <h2 class="display-4 bg-primary text-white text-center pl-4 ml-4">Your Cart</h2>
    <hr>

    {% if not id%}
    <h1 class="text-center">No items in the cart</h1>
    {%else%}

    <table class="table">
      <thead>
        <tr>
          <th>Sno.</th>
          <th>Image</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {%for product in products%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td><img style="height: 80px;" class="rounded-circle" src="{{product.image.url}}" alt=""></td>
          <td>{{product.name}}</td>
          <td>{{product.price}}INR</td>
          <td>{{product|cart_quantity:request.session.cart}}</td>
          <td>{{product|price_total:request.session.cart}}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4"></th>
          <th>Gross Total</th>
          <th>{{products|total_cart_price:request.session.cart}}</th>
        </tr>
      </tfoot>
    </table>
    <div class="m-3 p-3">
      <form action="" method="POST">
        {%csrf_token%}
        <input type="submit" value="Checkout" class="btn btn-outline-info border rounded col-lg-2 float-end">
      </form>
    </div>
    {%endif%}
  </div>

</div>
{%endblock%}