{% extends 'base.html' %}

{%block content%}

<div class="container">
    <div class="p4 m4 mt-5">
        <div class="col-lg-4 mt-4 mb-4 mx-auto border rounded p-4">
            <h3 class="alert alert-light border mt-4 mb-4 rounded ">Login Here</h3>
            {%if welcome%}
            <div class="alert alert-primary" role="alert">
              <strong>{{welcome}}</strong>
            </div>
            {%endif%}
            <form action="" method="POST">
                {% csrf_token %}

                {% if error == 'email not registered' %}
                <div class="border p-4">
                    <h5 class="text-info">You are not registered.Please click on signup to proceed</h5>
                    <a href="/signup" class="btn btn-secondary mt-1"> Go to signup</a>
                </div>
                {%elif error == 'password invalid'%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}

                <div class="form-group">
                  <!-- <div class="alert alert-info" role="alert">
                    <h5>You are registered successfully now login to continue shopping</h5>
                  </div> -->
                  
                  <label for="">Email</label>
                  <input required value="{{values.email}}"  type="email" name="email" id="" class="form-control" placeholder="Enter your email">
                  <label required for="">Password</label>
                  <input  type="password" name="password" id="" class="form-control" placeholder="*******">

                  <div class="form-group mt-3">
                    <label for=""></label>
                    <input  type="submit" name="" id="" class="btn btn-sm btn-info col-lg-4" value="Login">
                  </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{%endblock%}