{% extends 'base.html' %}

{%block content%}

<div class="container">
    <div class="p4 m4 mt-5">
        <div class="col-lg-4 mt-4 mb-4 mx-auto border rounded p-4">
            <h3 class="alert alert-light border mt-4 mb-4 rounded ">Login Here</h3>
            <form action="" method="POST">
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <div class="form-group">

                    <!-- email -->
                    <label for="">Email</label>
                    <input required value="{{values.email}}"  type="email" name="email" id="" class="form-control" placeholder="Enter your email">

                    <!-- password -->
                    <label required for="">Password</label>
                    <input  type="password" name="password" id="" class="form-control" placeholder="*******">

                    <div class="form-group mt-3">
                      <label for=""></label>
                      <input  type="submit" name="" id="" class="btn btn-sm btn-info col-lg-4" value="Login">
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}