{% extends 'base.html' %}

{%block content%}
{%load cart%}

<div class="container">
    <div class="border rounded p-4 m-4">
        <!-- {{products}} -->
        <h2 class="display-4 bg-success text-white text-center pl-4 ml-4">Your Orders</h2>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {%for order in orders%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.price}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.quantity|multiply:order.price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{%endblock%}