{% extends 'base.html' %}

{%block content%}
{%load cart%}

<div class="container">
    <div class="border rounded p-0 m-0">
        <!-- {{products}} -->
        <h2 class="display-4 bg-success text-white text-center pl-4 ml-4">Your Orders</h2>
        <hr>


        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Product Price</th>
                    <th>Date and time</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>orderId</th>
                    
                    <!-- <th>Status</th> -->
                    
                </tr>
            </thead>
            <tbody>
                {%for order in orders%}
                <!-- orders is the parameter passed by our view which contains database entry records -->
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.price}} INR</td>
                    <td>{{order.date_time}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.quantity|multiply:order.price}} INR</td>
                    <td>{{order.order_id}}</td>
                   
                    <!-- {% if order.status %}
                    <td class="badge bg-success mt-2">Delivered</td>
                    {%else%}
                    <td class="badge bg-danger mt-2">Ready to Ship</td>
                    {% endif %} -->


                </tr>
                <!-- <tr>
                    <td>{{order.order_id}}</td>
                </tr> -->
                {% endfor %}
            </tbody>
        </table>
        <!-- <form action="" method="POST">
            {% csrf_token %}
            
            <input  type="text" name="order_id" class="btn btn-info border rounded col-lg-2" value="{{order_id}}"  > -->

            <!-- <div class="mt-0 pt-0 mb-3 pb-3">
                <a href="payment" class="btn btn-info border rounded col-lg-2 float-end">
                    Order id: {{order_id}}
                </a>
            </div> -->
            <!-- <div class="form-group mt-5 pt-2 mb-3 pb-3">
                <label for="order_id"></label>
                <input type="submit" name="" id=""
                    class="btn btn-outline-info border rounded col-lg-2 float-end" value="Proceed to Payment">
            </div> -->
            <!-- -------------------------------------------------------------------------------------------------------- -->
            <!-- <div class="form-group form-group mt-5 ">

                <div class="form-group mt-5 pt-2 mb-3 pb-3 pl-0">
                    <label for="submit"></label>
                    <input  type="submit" name="" id="" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        class="btn btn-outline-info rounded col-lg-2 float-end" value="Place Order">
                </div>
            </div>
        </form> -->
        <!-- <h2>{{product_id}}</h2> -->





        <!-- <div class="m-3 p-3">
            <a href="payment" class="btn btn-outline-info border rounded col-lg-2 float-start">
                
            </a>
        </div> -->
    </div>
    <div class="mt-5 ">

      <div class="mt-5  mb-3 pb-3 pl-0 mb-3">
        <input  type="submit" name="" id="" data-bs-toggle="modal" data-bs-target="#exampleModal"
        class="btn btn-outline-info rounded col-lg-2 float-end" value="Place Order">
      </div>
  </div>

</div>

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Checkout Form</h5>
          <hr>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
  
          <!-- address logic -->
          <div class="border p-3 mb-3">
            <h5 class="card-title mb-3">Choose any one address</h5>
            <div class="p-3">
              <form action="" method="POST">
                {%csrf_token%}
                {%if not dict_val.address1 and dict_val.address2 and dict_val.address3%}
                <h5> Please add atleast one addresss in the form below</h5>
                {%endif%}
  
                {%if dict_val.address1%}
                <div class="form-check mb-3">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" value="{{dict_val.address1}}"
                    id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    {{dict_val.address1}}
                  </label>
                </div>
                {%endif%}
  
                {%if dict_val.address2%}
                <div class="form-check mb-3">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" value="{{dict_val.address2}}"
                    id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    {{dict_val.address2}}
                  </label>
                </div>
                {%endif%}
  
                {%if dict_val.address3%}
                <div class="form-check mb-3">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" value="{{dict_val.address3}}"
                    id="flexRadioDefault3">
                  <label class="form-check-label" for="flexRadioDefault2">
                    {{dict_val.address3}}
                  </label>
                </div>
                {%endif%}
  
                <input type="submit" class="btn btn-info">
              </form>
            </div>
          </div>
  
          <hr>
  
          <!-- add address -->
          <div class=" p-2">
            <!-- <h5>Add addresss</h5> -->
            <div class="p-3">
              {%if dict_val.address1 and dict_val.address2 and dict_val.address3%}
              <h4>You have added 3 address already</h4>
              {%endif%}
  
              {% if not dict_val.address1%}
              <form action="" class="border p-2 mb-2" method="POST">
                {%csrf_token%}
                
                <h5 class="p-3 mb-2 bg-dark text-white text-center">Add addresss 1</h5>
                
                <input type="text" name="address_post1" id="" class="form-control" placeholder=""
                  aria-describedby="helpId">
                <input type="text" name="phone" id="" class="form-control" placeholder="+91-XXXX"
                  aria-describedby="helpId">
                <input type="submit" name="" value="Add this address and proceed with it" id=""
                  class="btn btn-info form-control mt-2" placeholder="" aria-describedby="helpId">
              </form>
              {%endif%}
  
              {% if not dict_val.address2%}
              <form action="" class="border p-2 mb-2" method="POST">
                {%csrf_token%}
                
                <h5 class="p-3 mb-2 bg-dark text-white text-center">Add addresss 2</h5>
                <input type="text" name="address_post2" id="" class="form-control" placeholder=""
                  aria-describedby="helpId">
                <input type="text" name="phone" id="" class="form-control" placeholder="+91-XXXX"
                  aria-describedby="helpId">
                <input type="submit" name="" value="Add this address and proceed with it" id=""
                  class="btn btn-info form-control mt-2" placeholder="" aria-describedby="helpId">
              </form>
              {%endif%}
  
              {% if not dict_val.address3%}
              <form action="" class="border p-2 mb-2" method="POST">
                {%csrf_token%}
                
                <h5 class="p-3 mb-2 bg-dark text-white text-center">Add addresss 3</h5>
                <input type="text" name="address_post3" id="" class="form-control" placeholder=""
                  aria-describedby="helpId">
                <input type="text" name="phone" id="" class="form-control" placeholder="+91-XXXX"
                  aria-describedby="helpId">
                <input type="submit" name="" value="Add this address and proceed with it" id=""
                  class="btn btn-info form-control mt-2" placeholder="" aria-describedby="helpId">
              </form>
              {%endif%}
    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}