{% extends 'base.html' %}

{%block content%}

<div class="container">
    <div class="p4 m4 mt-4">
        <div class="col-lg-5 mx-auto border rounded p-4">
            <h3 class="alert alert-light border rounded ">Create an Account</h3>

            <form action="" method="POST">
                {% csrf_token %}
                {%if welcome%}
                <div class="alert alert-primary" role="alert">
                  <h6>You are registered</h6>
                  <h6>click on <a class="btn btn-info" href="/login">Login</a> to continue</h6>
                </div>
                {%endif%}
                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <div class="form-group">

                    <!-- firstname -->
                    <label for="">FirstName</label>
                    
                    <input required type="text" value="{{values.first_name}}" name="firstname" id="" class="form-control" placeholder="">
                    <!-- lastname -->
                    <label for="">Lastname</label>
                    <input required type="text" value="{{values.last_name}}" name="lastname" id="" class="form-control" placeholder="">

                    <!-- phone -->
                    <label for="">Phone</label>
                    <input required type="text" value="{{values.phone}}" name="phone" id="" class="form-control" placeholder="">

                    <!-- email -->
                    <label for="">Email</label>
                    <input required value="{{values.email}}"  type="email" name="email" id="" class="form-control" placeholder="Enter your email">

                    <!-- password -->
                    <label required for="">Password</label>
                    <input  type="password" name="password" id="" class="form-control" placeholder="*******">

                    <div class="form-group mt-3">
                      <label for=""></label>
                      <input  type="submit" name="" id="" class="btn btn-sm btn-info" value="Create Account">
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}